.principalImageContainer {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  padding: 0 2rem;
  .principalImage {
    background-image: url("/images/imagemPrincipal.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 39rem;
    width: 116rem;
    border-radius: 0.5rem;
  }
}

.infoPage {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0 2rem;

  .tagContainer {
    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      flex-wrap: wrap;
      gap: 2.1rem;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 700;
        background-color: var(--background-button);
        color: var(--white-textColor);
        border-radius: 0.5rem;
        text-decoration: none;
        width: 10rem;
        height: 3.2rem;

        &:hover {
          filter: opacity(0.9);
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }

  .section {
    margin: 0 auto;
    max-width: 94.5rem;

    .sectionContainer {
      h1 {
        font-weight: 700;
        font-size: 3.4rem;
        height: 150%;
        margin-bottom: 5rem;
      }

      .text {
        h2,
        p {
          font-size: 1.8rem;
          font-weight: 700;
          margin-top: 2rem;
        }

        p {
          font-weight: 100;
        }
      }

      .checkText {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;

        h2,
        p {
          font-size: 1.8rem;
          font-weight: 700;
          margin-top: 2rem;
        }

        p {
          font-weight: 100;
        }

        .check {
          margin-right: 1rem;
        }
      }
    }
  }

  .shutterstock {
    display: flex;
    background-color: var(--background-image);
    border-radius: 0.5rem;
    max-width: 94.5rem;
    min-height: 16rem;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    .globalIcone {
      margin-top: 1rem;
    }
    .shutterstockImage {
      background-image: url("/images/shutterstock.png");
      min-height: 16rem;
      width: 40rem;
      border-radius: 0px 0.5rem 0.5rem 0px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @media (max-width: 768px) {
        width: 100%;
        border-radius: 0px 0 0.5rem 0.5rem;
      }
    }

    .shutterstockContainer {
      display: flex;
      padding: 1.8rem 1.8rem 2.6rem 3.1rem;
      gap: 1.5rem;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }

      .imageText {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: var(--white-textColor);

        @media (max-width: 768px) {
          text-align: center;
          align-items: center;
        }

        h2,
        p {
          font-size: 2.4rem;
          font-weight: 800;
        }

        p {
          font-weight: 100;
        }

        ul {
          list-style: none;
          text-transform: uppercase;
          a {
            margin-top: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.9rem;
            border-radius: 0.5rem;
            color: var(--white-textColor);
            background-color: var(--background-button);
            text-decoration: none;
            width: 16.5rem;
            height: 4.2rem;

            &:hover {
              filter: opacity(0.9);
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }
}
