.principalImageContainer {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  padding: 0 2rem;
  .principalImage {
    background-image: url("../../public/images/principal.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 39rem;
    width: 116rem;
    border-radius: 0.5rem;
  }
}

.infoPage {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;

  .tagContainer {
    @media (max-width: 768px) {
      padding: 0 2rem;
    }
    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      flex-wrap: wrap;
      gap: 2.1rem;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 700;
        background-color: var(--background-button);
        color: var(--white-textColor);
        border-radius: 0.5rem;
        text-decoration: none;
        width: 10rem;
        height: 3.2rem;

        &:hover {
          filter: opacity(0.9);
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }

  .section {
    margin: 0 auto;
    max-width: 94.5rem;
    @media (max-width: 768px) {
      padding: 0 2rem;
    }

    .sectionContainer {
      h1 {
        font-weight: 700;
        font-size: 3.4rem;
        height: 150%;
        margin-bottom: 5rem;
      }

      .text {
        h2,
        p {
          font-size: 1.8rem;
          font-weight: 700;
          margin-top: 2rem;
        }

        p {
          font-weight: 100;
        }
      }

      .checkText {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;

        h2,
        p {
          font-size: 1.8rem;
          font-weight: 700;
          margin-top: 2rem;
        }

        p {
          font-weight: 100;
        }

        .check {
          margin-right: 1rem;
        }
      }
    }
  }

  .shutterstockContainer {
    @media (max-width: 768px) {
      padding: 0 2rem;
    }
  }

  .shutterstock {
    display: flex;
    background-color: var(--background-image);
    border-radius: 0.5rem;
    max-width: 94.5rem;
    min-height: 16rem;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    .globalIcone {
      margin-top: 1rem;
    }
    .shutterstockImage {
      background-image: url("/images/shutterstock.png");
      min-height: 16rem;
      width: 40rem;
      border-radius: 0px 0.5rem 0.5rem 0px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @media (max-width: 768px) {
        width: 100%;
        border-radius: 0px 0 0.5rem 0.5rem;
      }
    }

    .shutterstockContent {
      display: flex;
      padding: 1.8rem 1.8rem 2.6rem 3.1rem;
      gap: 1.5rem;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }

      .imageText {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: var(--white-textColor);

        @media (max-width: 768px) {
          text-align: center;
          align-items: center;
        }

        h2,
        p {
          font-size: 2.4rem;
          font-weight: 800;
        }

        p {
          font-weight: 100;
        }

        ul {
          list-style: none;
          text-transform: uppercase;
          a {
            margin-top: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.9rem;
            border-radius: 0.5rem;
            color: var(--white-textColor);
            background-color: var(--background-button);
            text-decoration: none;
            width: 16.5rem;
            height: 4.2rem;

            &:hover {
              filter: opacity(0.9);
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }

  h2 {
    font-size: 3rem;
    font-weight: 700;
  }

  .sectionCards {
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 -15vw 0 0 var(--background-image);
    width: 100%;
    padding-bottom: 5rem;
    gap: 2rem;

    .knowMore {
      text-align: center;
      margin: 2rem 0 2rem 0;
    }

    @media (max-width: 768px) {
      padding: 0 2rem 5rem 2rem;
    }

    .cardsContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;

      .cardsContent {
        .card {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          border: 1px solid var(--border-color);
          background-color: var(--white-textColor);
          border-radius: 0.5rem;
          gap: 2rem;
          padding: 1.7rem 1.7rem 3rem 1.7rem;

          .cardImage {
            border-radius: 0.5rem;
            display: block;
          }

          .cardOrangeLink {
            text-decoration: none;
            color: var(--white-textColor);

            p {
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              left: 22rem;
              top: 4rem;
              border-radius: 0.5rem;
              font-size: 1.4rem;
              font-weight: 700;
              background-color: var(--background-button);
              width: 10rem;
              height: 3.2rem;

              &:hover {
                filter: opacity(0.9);
                transition: all 0.3s ease-in-out;
              }
            }
          }

          .cardText {
            width: 29.8rem;
            height: 17.5;

            h3,
            p {
              font-weight: 700;
              font-size: 1.6rem;
            }

            p {
              font-weight: 100;
              margin-top: 2rem;
            }
          }
          .cardLinkContainer {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            padding-right: 2rem;

            .cardLink {
              display: flex;
              align-items: center;
              gap: 1rem;
              line-height: 1.9rem;

              .arrow {
                width: 0.6rem;
                height: 0.9rem;
              }
            }

            a {
              font-size: 2.6rem;
              font-weight: 700;
              color: var(--black-textColor);
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
